.LoginPage{
    background-color: darkorchid;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-header{
    color: blueviolet;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    align-self: center;
}

form{
    width: 25%;
    height: 45%;
    border-radius: 5px;
    background-color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
}
.login-inputs{
    background-color: transparent;
    height: 30px;
}
.user-name-container{
    width: 80%;
    display: flex;
    flex-direction: column;

    margin-top: -20px;
}
.password-container{
    width: 80%;
    display: flex;
    flex-direction: column;

    margin-top: -10px;
    
}
.login-button{
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.show-password{
    margin-top: -20px;
    cursor: pointer;
    font-weight: 500;
    color: blueviolet;
}